@charset "UTF-8";
/* CSS Document */

body,
html {
margin:0;
padding:0;
background-color: #F5F5F5;
overflow-x:hidden;
font-family: 'PT Sans', sans-serif;
font-size: 14px;
color: #203A4B;
line-height: 1.3;
font-weight: 400;
/*
animation: fadeIn ease 2s;
-webkit-animation: fadeIn ease 2s;
-moz-animation: fadeIn ease 2s;
-o-animation: fadeIn ease 2s;
-ms-animation: fadeIn ease 2s;

*/
}


@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

* {
  box-sizing: border-box;
}


/* Typography */

@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700|PT+Serif:400,700');

a {
    text-decoration: none;
    color: #203A4B;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
}

p.copy a:hover {
    color: #D8A564;
}

p {
  margin: 0;
}

p.copy {
  font-size: 20px;
  color: #203A4B;
  opacity: 0.6;
  line-height: 28px;
}

p.copy--small {
  font-size: 14px;
  color: #203A4B;
  opacity: 0.6;
  line-height: 22px;
}

p.copy--light {
  font-size: 20px;
  color: #F5F5F5;
  opacity: 0.6;
  line-height: 28px;
  margin-bottom: 30px;
}

p.copy--light.white {
  opacity: 1;
  margin-bottom: 3px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: initial;
    -webkit-margin-before: inherit;
    -webkit-margin-after: inherit;
    -webkit-margin-start: inherit;
    -webkit-margin-end: inherit;
}

a.nav--text {
  font-weight: 400 !important;
}

.nav--text {
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 700;
  opacity: 0.7;
  transition-duration: 0.4s;
}

.nav--text.current {
  opacity:1;
}

.nav--text:hover {
  opacity:1;
}

.gold {
  color: #D8A564;
}

.highlight {
  color: #203A4B;
  transition-duration: 2s;
  transition-delay: 3.5s;
}

.highlight.contact {
  transition-delay: 0s;
}

.highlight.in-view {
  color: #D8A564;
}

.title--big {
  font-family: 'PT Serif', serif;
  font-size: 48px;
}

a .title--big {
  font-weight: 400 !important;
}

.title--med {
  font-family: 'PT Serif', serif;
  font-size: 36px;
}

.center {
  text-align: center;
}

a .title--med {
  font-weight: 400 !important;
}

.label--primary {
  font-size: 12px;
  text-transform:uppercase;
  letter-spacing: 3px;
  color: #D8A564;
  margin-bottom:6px;
  font-weight: 400 !important;
}

.hero .label--primary {
  margin-bottom: 12px !important;
}

.label--secondary {
  font-size: 12px;
  text-transform:uppercase;
  letter-spacing: 1px;
  opacity: 0.4;
  margin-top: 12px;
  font-weight: 400 !important;
}

.text--quote {
  font-family: 'PT Serif', serif;
  font-style: italic;
  font-size: 24px;
}

.text--quote:before {
  content:url('../images/quotemark.svg');
  margin-bottom: 12px;
  display: block;
}

.text--quote.quote--casestudy {
  margin: 60px 0px;
}

.p--footer {
  font-size: 12px;
  text-transform:uppercase;
  letter-spacing: 1px;
}

.container--small {
  max-width: 960px;
  margin: auto;
}

.container--fullwidth {
  margin: 0px 60px;
}

.casestudy--text.container--fullwidth {
  max-width:100%;
  padding: 60px 0px;
}

h3 {
    color: #D8A564;
    font-weight: 700;
    font-size: 24px;
    margin-bottom:20px;
}
h4 {
    font-size: 20px;
    font-weight: 700;
    padding: 20px 0px;
}
td h4 {
    padding: 0px;
}
hr.wp-block-separator {
    margin-bottom: 40px;
    margin-top: 20px;
}


@media only screen and (max-width: 960px) {
  .label--secondary {
    margin-bottom: 0px;
  }
  .title--med {
    margin-bottom:0px;
  }
}

@media only screen and (max-width: 780px) {
  .title--big {
    font-size: 36px;
  }
  .title--med {
    font-size: 24px;
    margin-bottom:0px;
  }
  .label--primary {
    font-size: 10px;
  }
  .label--secondary {
    font-size: 10px;
    margin-bottom: 0px;
  }
  p.copy, p.copy--light {
    font-size: 18px;
  }
  h2.title--small {
    font-size: 18px;
  }
}

@media only screen and (max-width: 540px) {
  .title--big {
    font-size: 24px;
  }
}


/* Padding editors */

.notopmargin {
  margin-top: 0px !important;
}


/* Buttons */

.button--submit {
  font-family: 'PT Sans', sans-serif;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 18px 42px;
  border: 2px solid #D8A564;
  background-color: #F5F5F5;
  font-size: 14px;
  margin-top: 6px;
  transition-duration: 1s;
  cursor: pointer;
}

.button--submit:hover {
  box-shadow: inset 0px 0px 0px 50px #D8A564;
}

/* Intro */

.intro {
  width: 100vw;
  height: 100vh;
  position:fixed;
  background-color: #F5F5F5;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  animation: fadeoutscreen 1s linear forwards;
  animation-delay: 3s;
}

@keyframes fadeoutscreen {
  0% {
    opacity: 1;
    height: 100vh;
  }
  99% {
    opacity: 0;
    height: 100vh;
  }
  100% {
    opacity: 0;
    height: 0vh;
  }
}

.intro_logo {
  animation: fadeoutlogo 1s cubic-bezier(0.77, 0, 0.175, 1) forwards;
  animation-delay: 2.5s;
}

@keyframes fadeoutlogo {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#m {
  transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1))
}

#q {
  stroke: #D8A564;
  stroke-dasharray: 112;
  stroke-dashoffset: 111;
  fill: none;
  stroke-width: 36px;
  -webkit-animation: circle 4s cubic-bezier(0.77, 0, 0.175, 1) both;
  animation: circle 4s cubic-bezier(0.77, 0, 0.175, 1) both;
  animation-delay: 0.2s;
  transform-origin: 113px 36px;
  transform: rotate(55deg);
}

@-webkit-keyframes circle {
  50%,100% {stroke-dasharray: 110;
  stroke-dashoffset: 0;}
}
@keyframes circle {
  50%,100% {stroke-dasharray: 110;
  stroke-dashoffset: 0;}
}

/* Nav */

.nav {
  width: 100%;
  padding: 18px 60px;
  display:flex;
  justify-content: space-between;
  align-items: flex-end;
}

img.img--logo {
    width: 60px;
}

.nav .gold {
  padding: 0px 12px;
}

@media only screen and (max-width: 960px) { 
  .nav {
  padding: 18px 48px;
} 
}

@media only screen and (max-width: 580px) { 
  .nav {
  padding: 18px 30px;
  display:block;
  } 
  .nav--menu {
    margin-top: 18px;
  }
  .nav .gold {
    padding: 0px 3px;
}
}

/* Hero */

.hero {
  width: 100%;
  padding: 150px 60px 210px;
}

@media only screen and (max-width: 960px) { 
  .hero {
    padding: 150px 48px 210px;
  }
}

@media only screen and (max-width: 580px) { 
  .hero {
    padding: 60px 30px 90px;
}
}

/* Tiles */

.tiles {
  width: 100%;
  padding: 0px 60px 90px;
  display: flex;
}

.tiles.projectnav {
  margin: 120px 0 30px;
}

a.tile {
  width: 50%;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  opacity: 0.5;
  transform: translateY(60px);
  cursor:pointer;
}


a.tile.in-view {
  opacity: 1;
  transform: translateY(0px);
}

.projectnav a.tile {
  background-color: #fff;
  padding: 60px;
  transition: all 1s ease-in-out;
}

.projectnav a.tile:hover {
  background-color: #E4E4E4;
}

a.tile--left {
  padding-right: 30px;
}

.projectnav a.tile--left {
  border-right: 30px solid #F5F5F5;
}

a.tile--right {
  padding-left: 30px;
}

.projectnav a.tile--right {
  border-left: 30px solid #F5F5F5;
}

.tile--image--outer {
  width: 100%;
  height: 480px;
  padding-bottom: 30px;
  transition: all 1.5s ease-in-out;
  overflow: hidden !important;
}

.tile--image--middleman {
  width: 100%;
  height: 100%; 
  overflow: hidden !important;
}

.tile--image--inner {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  transition: all 1.5s ease-in-out;
}


.tile--image--inner.chosen {
  background-image: url("../images/tile--chosen.jpg");
}
.tile--image--inner.lenny {
  background-image: url("../images/tile--lenny.jpg");
}
.tile--image--inner.liquid {
  background-image: url("../images/tile--liquid.jpg");
}

.tile--image--inner.knowledgeofficer {
  background-image: url("../images/tile--knowledgeofficer.jpg");
}

.tile--image--inner.carpe {
  background-image: url("../images/tile--carpe.jpg");
}

.tile--image--inner.veplatform {
  background-image: url("../images/tile--veplatform.jpg");
}

.tile--image--inner.tscco {
  background-image: url("../images/tile--tscco.jpg");
}

.tile--image--inner.inmotion {
  background-image: url("../images/tile--inmotion.jpg");
}

.tile--image--inner.atg {
  background-image: url("../images/tile--atg.jpg");
}

.tile:hover .tile--image--outer {
  transform: scale(0.98);
}

.tile:hover .tile--image--inner {
  transform: scale(1.05);
}

@media only screen and (max-width: 960px) { 
  .tiles {
    padding: 0px 48px 90px;
    display: block;
  }
  a.tile {
    width: 100%;
    display: block;
  }
  a.tile--left {
    margin-bottom: 90px;
    padding: 0px;
  }
  a.tile--right {
    padding: 0px;
  }
  .projectnav a.tile--left {
  display:none;
  }
  .projectnav a.tile--right {
  border-left: none;
  }
  .tiles.projectnav {
  margin: 60px 0 30px;
  }
}

@media only screen and (max-width: 580px) { 
  .tiles {
    padding: 0px 30px 90px;;
  }
  .tile--image--outer {
    height: 360px;
  }
  .projectnav a.tile {
  padding: 42px 30px;
  }
}

/* Logos */

.section--big {
  width: 100%;
  padding: 150px 60px;
}

.row--logos {
  width: 100%;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.row--logos.container--small {
  padding: 0px;
}

.block--logo {
  width:120px;
  height: 120px;
  display:flex;
  align-items: center;
  justify-content: center;
}

.block--logo.align--left {
  justify-content: left;
}

@media only screen and (max-width: 780px) { 
  .row--logos {
    display:block;
    width:100%;
    max-width:640px;
  }
  .block--logo {
    width: 49%;
    display:inline-block;
    text-align:center;
  }
  .block--logo img {
    max-width:100%;
    margin: 0 auto;
  }
  .section--big {
    padding: 90px 48px;
  }
}

@media only screen and (max-width: 580px) { 
  .section--big {
    padding: 60px 30px;
  }
}


/* Columns & content */

.section--dark {
  background-color: #203A4B;
  margin: 60px;
  padding: 90px 60px 120px;
}

.section--dark .title--med {
  margin: 0 0 60px 0;
}

.casestudy--text {
  display:flex;
  max-width:1080px;
  padding: 60px 60px;
}

.twocol {
  display:flex;
}

.col--half {
  width: 50%;
}

.col--half.left {
  padding-right: 60px;
}

.col--fourth {
  width: 25%;
  padding-right: 30px;
}

.col--third {
  width: 33%;
}

.col--twothirds {
  width: 66%;
}

@media only screen and (max-width: 960px) { 
  .casestudy--text {
  padding: 60px 48px;
  }
  .casestudy--text.container--fullwidth {
    margin: 0 48px;
  }
  .twocol {
  display:block;
  }
  .col--half {
  width: 100%;
  }
  .col--half.left {
    padding-right: 0px;
    margin-bottom:30px;
  }
  .section--dark {
  margin: 48px;
  padding: 90px 48px 120px;
  }
}

@media only screen and (max-width: 780px) { 
  .casestudy--text {
  display:block;
  }
  .col--third {
    width: 100%;
    margin-bottom:30px;
  }
  .col--twothirds {
    width: 100%;
  }
  .text--quote.quote--casestudy {
    margin: 30px 0px;
  }
  .col--fourth {
    width: 49%;
    display: inline-block;
    margin-bottom: 48px;
  }
  .col--fourth:nth-child(even) {
    padding-right:0px;
    padding-left:15px;
  }
  .col--fourth:nth-child(odd) {
    padding-right:15px;
  }
}

@media only screen and (max-width: 580px) { 
  .casestudy--text {
  padding: 60px 30px 48px;
  }
  .casestudy--text.container--fullwidth {
    margin: 0 30px;
  }
  .section--dark {
  margin: 30px;
  padding: 60px 30px 72px;
  }
  .section--dark .title--med {
    margin: 0 0 42px 0;
  }
}


/* Quotes */

.quotes {
  display: flex;
}

.quote.in-view {
  opacity: 1;
}

.quote {
  width: 33%;
  padding: 0px 20px;
  opacity: 0;
  transition-duration: 1s;
  transition-delay: 0.6s;
}

.quote:first-child {
  padding-left: 0px;
  padding-right: 40px;
  transition-delay: 0.2s;
}

.quote:last-child {
  padding-left: 40px;
  padding-right: 0px;
  transition-delay: 1s;
}

.quote .label--secondary {
  margin-top: 18px;
}

@media only screen and (max-width: 960px) { 
  .quote:last-child {
    display:none;
  }
  .quote {
    width: 50%;
  }
}

@media only screen and (max-width: 780px) { 
  .quote:last-child {
    display:block;
  }
  .quote {
    width: 100%;
    padding: 30px 0px;
  }
  .quotes {
    display:block;
  }
  .quote:last-child {
  padding-left: 0px;
  }
}

/* Images */

img.img--casestudy {
  width: 100%;
  padding-left: 60px;
  padding-right: 60px;
  margin-bottom: 60px;
  margin-top: 60px;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  opacity: 0.5;
  transform: translateY(60px);
}

img.img--casestudy.in-view {
  opacity: 1;
  transform: none;
}

@media only screen and (max-width: 960px) {
  img.img--casestudy {
    padding-left: 48px;
    padding-right: 48px;
    margin-bottom: 48px;
    margin-top: 0px;
  }
}

@media only screen and (max-width: 580px) {
  img.img--casestudy {
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 30px;
  }
}

/* Morefoot */

.morefoot {
  transition: all 1s ease-in-out;
}

.morefoot:hover {
  background-color: #E4E4E4;
}

/* Contact */

.form {
  width: 100%;
  max-width: 1080px;
  padding: 0px 60px 150px;
  margin: auto;
}

.field {
  width: Calc(50% - 15px);
  box-sizing: border-box;
  color: #203A4B !important;
  font-size: 18px;
  padding: 12px 18px;
  background-color: #F5F5F5;
  border:none;
  border-bottom: 1px solid #203A4B;
  margin-bottom: 30px;
  font-family: 'PT Sans', sans-serif;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

.field.left {
  margin-right: 15px;
}

.field.right {
  margin-left: 15px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #203A4B;
  opacity: 0.4;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #203A4B;
  opacity: 0.4;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #203A4B;
  opacity: 0.4;
}
:-moz-placeholder { /* Firefox 18- */
  color: #203A4B;
  opacity: 0.4;
}

.field--message {
  width: 100%;
  height: 180px;
  background-color: rgba(32, 58, 75, 0.05);
  padding: 18px;
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  border:none;
}

@media only screen and (max-width: 960px) { 
  .form {
  padding: 0px 48px 120px;
  } 
}

@media only screen and (max-width: 580px) { 
  .form {
  padding: 0px 30px 90px;
  } 
  .field {
    width: 100%;
  }
  .field.left {
    margin-right: 0px;
  }
  .field.right {
    margin-left: 0px;
  } 
}

/* Footer */

.footer {
  width: 100%;
  padding: 120px 60px 60px;
  display:flex;
  justify-content: space-between;
  align-items: flex-end;
}

img.icon--social {
  padding-right: 6px;
  transition-duration: 0.4s;
}

img.icon--social:hover {
  opacity: 0.6;
}

@media only screen and (max-width: 960px) {
  .footer {
  padding: 120px 48px 60px;
  }
}

@media only screen and (max-width: 640px) {
  .footer {
  display:block;
  }
  .footer--text {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 580px) {
  .footer {
  padding: 120px 30px 60px;
  }
}

/* Blog */

.blog--content {
    padding: 80px 30px;
    max-width: 740px;
    margin: auto;
}

.blog--postlink {
    display: block;
    padding: 80px 0;
}

a.blog--postlink {
  cursor: pointer;
}

a.blog--postlink:hover .post--title {
  color: #D8A564;
}

.blog--content .blog--title {
    font-size: 12px;
}

.blog--content p.post--title {
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    transition: all 0.5s ease-in-out;
    padding: 0px;
    color: #203A4B;
}
.blog--content p.post--subtitle {
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    padding: 0px;
    color: #203A4B;
}
.post--info {
  color: #203A4B;
  font-style:italic;
  font-weight:400;
  font-size:16px;
  margin-top:20px;
}
.post--info li, .post--info ul {
    display: inline;
    padding-left: 0px;
    text-transform: lowercase;
}

.post--info li:after {
    content: ", ";
}

.post--info li:last-child:after {
    content: "";
    display:none;
}

.post--info .gold {
    padding: 0px 20px;
    font-style:normal;
}

.blog--content p {
    font-size: 18px;
    line-height: 32px;
    padding: 20px 0px;
}

.wp-block-image {
    margin: 40px 0px;
    padding-bottom: 10px;
}

cite {
    font-style: normal;
}

.blog--content a {
  color: #D8A564;
  transition: all 0.5s ease-in-out;
}
.blog--content a:hover {
  color: #203A4B;
}

blockquote.wp-block-quote {
    margin: 0px 0px 20px 20px;
}

figure.wp-block-table {
    margin: 40px 0px;
}
td:first-child {
    padding-right: 16px;
}
td:last-child {
    padding-left: 16px;
}

figure.wp-block-table {
    margin: 40px 0px;
    background-color: rgba(32, 58, 75, 0.05);
    padding: 32px 40px 40px;
}
td {
    vertical-align: top;
    padding: 8px 0;
}

.blog--content li {
    margin-bottom: 20px;
}

/* Signup */

#mc_embed_signup {
    background-color: rgba(32, 58, 75, 0.05);
    padding: 12px 40px 40px;
    margin-top: 32px;
}
input#mce-EMAIL {
    box-sizing: border-box;
    color: #203A4B !important;
    font-size: 18px;
    padding: 12px 18px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #203A4B;
    margin-bottom: 30px;
    font-family: 'PT Sans', sans-serif;
    width: calc(100% - 24px);
}
.mc-field-group {
    width: 100%;
}
div#mc_embed_signup_scroll {
    display: flex;
    justify-content: space-between;
}
input#mc-embedded-subscribe.button--submit {
    background-color: rgba(32, 58, 75, 0.05);
    height: 48px;
    box-sizing: border-box;
    margin-top: 0px;
    padding: 12px 24px;
}

@media only screen and (max-width: 640px) {
  div#mc_embed_signup_scroll {
    display: block;
}

