@charset "UTF-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,700,900');

@font-face {
    font-family: 'moonshot';
    src: url('../fonts/moonshot-regular-webfont.woff2') format('woff2'),
         url('../fonts/moonshot-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body,
html {
margin:0;
padding:0;
overflow-x:hidden;
overflow-y:scroll !important;
font-family: 'Montserrat', sans-serif;
color: #fff;
letter-spacing: 0px;
width:100vw;
line-height:140%;
}

* {
  box-sizing:border-box;
}

a {
  text-decoration:none;
  color:#00ffff;
}

#terms a, #faqs a {
    color: #0f0725;
}

p.small {
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 2px;
}

p.big {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
}

h4 {
    font-size: 24px;
    margin-bottom: 16px;
    color: #0f0725;
    text-transform: uppercase;
}

.background_green {
  background: rgb(15, 7, 37);
    background: -webkit-linear-gradient(135deg, rgba(15, 7, 37,1) 0%, rgba(27, 16, 56,1) 100%);
    background: -o-linear-gradient(135deg, rgba(15, 7, 37,1) 0%, rgba(27, 16, 56,1) 100%);
    background: -moz-linear-gradient(135deg, rgba(15, 7, 37,1) 0%, rgba(27, 16, 56,1) 100%);
    background: linear-gradient(135deg, rgba(15, 7, 37,1) 0%, rgba(27, 16, 56,1) 100%);
}

.background_black {
  background-color: #0f0725;
}

.background_teal {
  background-color: #00ffff;
}


/* HEADER */

.sticker img {
    width: 120px;
}

#banner {
  position:absolute;
  left:0px;
  top:0px;
}

#banner img {
  width: 146px;
}

.sticker {
  position: absolute !important;
  right: 20px !important;
  top: 20px !important;
}

#top {
  width:100vw;
  height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height:420px;
  overflow-y: hidden;
  overflow-x:hidden;
  background-position:center center;
  background-size: cover;
  background-repeat:no-repeat;
  overflow: hidden;
  background-image: url(../images/hero--bg.jpg);
}

.videobg, .videobgmobile {
  height: 100vh;
  width: 100vw;
  position:fixed;
  z-index:-1;
}

.videobg video, .videobgmobile video {
  position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.videobgmobile {
  display:none;
}

.bg-layer-1 {
  background-image:url("../images/bg_top_1.png");
  background-position:center bottom;
  background-size: contain;
  background-repeat:no-repeat;
  z-index:3;
  width:100%;
  height:100%;
  position:absolute;
}

.bg-layer-2 {
  background-image:url("../images/bg_top_2.png");
  background-position:center bottom;
  background-size: contain;
  background-repeat:no-repeat;
  z-index:2;
  width:100%;
  height:100%;
  position:absolute;
}

.bg-layer-3 {
  background-image:url("../images/bg_top_3.png");
  background-position:center bottom;
  background-size: contain;
  background-repeat:no-repeat;
  z-index:1;
  width:100%;
  height:100%;
  position:absolute;
}

.present {
  font-weight: 700;
  width:100px;
  margin:0 auto;
  text-transform: uppercase;
}

.hero_logo {
  width:240px;
  margin:30px 0 15px;
  max-width:80%;
}

.date {
  font-weight: 700 !important;
  letter-spacing:9.5px !important;
  margin-top: -10px;
  margin-left: 5px;
  margin-bottom:10px;
}

.date sup {
  font-size: 12px;
  letter-spacing: 2px;
}

.location {
  margin-top:-5px;
  margin-bottom: 0px;
  font-weight: 700 !important;
  letter-spacing:4.6px !important;
  color: #FFF;
}

.tagline {
  margin-bottom: 20px;
  margin-top:0px;
  letter-spacing:5.5px !important;
  font-size: 32px !important;
}


.same {
  font-weight: 700 !important;
  margin-top: 0px;
  margin-left: 12px;
  font-family: 'moonshot';

}

.content.center {
    text-align:center;
    width:90%;
    margin-left:auto;
    margin-right:auto;
    max-width:600px;
}

.content.top {
  margin-top:-50px;
  opacity:0;
  transition-duration:1s;
    -webkit-transition-duration: 1s;
    z-index: 4;
}

.content.top.animate {
  opacity:1;
}

#orb {
  -webkit-transform: translate(60px,30px) scale(0.7,0.7);
  -moz-transform: translate(60px,30px) scale(0.7,0.7);
  -ms-transform: translate(60px,30px) scale(0.7,0.7);
  transform: translate(60px,30px) scale(0.7,0.7);
  transition-duration:1s;
  -webkit-transition-duration: 1s;
}

#top .animate g#orb {
  -webkit-transform: translate(0px,0.151480px) scale(1,1);
  -moz-transform: translate(0px,0.151480px) scale(1,1);
  -ms-transform: translate(0px,0.151480px) scale(1,1);
  transform: translate(0px,0.151480px) scale(1,1);
}

g#southport {
  -webkit-transform: translate(8px, 553px);
  -moz-transform: translate(8px, 553px);
  -ms-transform: translate(8px, 553px);
  transform: translate(8px, 553px);
  transition-duration:1s;
  -webkit-transition-duration: 1s;
  opacity: 0;
  -webkit-transition-delay: .2s; /* Safari */
  transition-delay: .2s;
}

#top .animate g#southport {
  -webkit-transform: translate(8px, 533px);
  -moz-transform: translate(8px, 533px);
  -ms-transform: translate(8px, 533px);
  transform: translate(8px, 533px);
  opacity: 1;
}

g#weekender {
  -webkit-transform: translate(1px 639px);
  -moz-transform: translate(1px 639px);
  -ms-transform: translate(1px 639px);
  transform: translate(1px 639px);
  transition-duration:1s;
  -webkit-transition-duration: 1s;
  opacity: 0;
  -webkit-transition-delay: .4s; /* Safari */
  transition-delay: .4s;
}

#top .animate g#weekender {
  -webkit-transform: translate(1px 599px);
  -moz-transform: translate(1px 599px);
  -ms-transform: translate(1px 599px);
  transform: translate(1px 599px);
  opacity: 1;
}

#top p.small {
  opacity:0;
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  transform: translateY(-20px);
  transition-duration:1s;
  -webkit-transition-duration: 1s;
  -webkit-transition-delay: 1.5s; /* Safari */
  transition-delay: 1.5s;
}

#top .animate p.small {
  opacity:1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
}

#top p.big {
  opacity:0;
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -ms-transform: translateY(20px);
  transform: translateY(20px);
  transition-duration:1s;
  -webkit-transition-duration: 1s;
  -webkit-transition-delay: 1.5s; /* Safari */
  transition-delay: 1.5s;
}

#top .animate p.big {
  opacity:1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
}

.scrollbutton {
    position: absolute;
    text-align:center;
    bottom:50px;
    left:50%;
    transition-duration:1s;
    -webkit-transition-duration: 1s;
      opacity:0;
  -webkit-transform: translate(-50%, 20px);
  -moz-transform: translate(-50%, 20px);
  -ms-transform: translate(-50%, 20px);
  transform: translate(-50%, 20px);
  transition-duration:1s;
  -webkit-transition-duration: 1s;
  -webkit-transition-delay: 1.7s; /* Safari */
  transition-delay: 1.7s;
  z-index: 4;
}

.scrollbutton--mobile {
    text-align:center;
    margin:auto;
  z-index: 4;
  display:none;
}

.scrollbutton.animate {
  opacity:1;
  -webkit-transform: translate(-50%, 0px);
  -moz-transform: translate(-50%, 0px);
  -ms-transform: translate(-50%, 0px);
  transform: translate(-50%, 0px);
}

.scrollbutton a, .scrollbutton--mobile a {
  color: #0f0725;
  letter-spacing:2px;
  font-weight: 700px;
  padding: 20px;
  cursor: pointer;
  background-color: #00ffff;
  transition-duration:1s;
  -webkit-transition-duration: 1s;
}

.scrollbutton a:hover, .scrollbutton--mobile a:hover {
  color: #00ffff;
  background-color: #0f0725;
}

/* HEADER */

#nav {
  width:100vw;
  position:relative;
}

#nav.fixed {
  position: fixed;
  top: 0;
  z-index: 10;
}

.nav-links {
  box-sizing:border-box;
  padding:15px 50px;
  background-color: #0f0725;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
}

.nav-details {
  box-sizing:border-box;
  padding:5px 50px;
  background-color: #eb593d;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  color: #0f0725;
  justify-content: space-between;
  font-size:10px;
}

.logo {
  height:auto;
  -webkit-align-self: flex-start;
   align-self: flex-start;
   line-height:100%;
}

.logo img {
  width:100px;
  margin-top:3px;
}

.menu {
  margin-left: auto;
}

.menu_item {
  display: inline-block;
}

.menu_button {
  display: inline-block;
}

.menu_item a {
  font-size:10px;
  letter-spacing:2px;
  padding: 0 10px;
  color:#fff;
  transition-duration:0.5s;
  -webkit-transition-duration: 0.5s;
}

.menu_item a:hover {
  color: #00ffff;
}

img.icon_social {
  width:25px;
  margin-bottom:-8px;
}

.menu_button a {
  font-size: 12px;
  letter-spacing: 2px;
  padding: 10px 20px;
  background-color:#00ffff;
  color: #0f0725;
  margin-left: 15px;
  transition-duration:0.5s;
  -webkit-transition-duration: 0.5s;
}

.menu_button a:hover {
  color: #00ffff;
  background-color: #0f0725;
}

/* INTRO */


.button a {
  font-size: 16px;
  letter-spacing: 2px;
  padding: 20px 24px;
  background-color: #00ffff;
  color: #0f0725;;
  transition-duration:0.5s;
  -webkit-transition-duration: 0.5s;
}

.button a:hover {
  color: #00ffff;
  background-color: #0f0725;
}


.standard {
  width:100vw;
  text-align:left;
  height:auto;
  position:relative;
  text-align:center;
  padding: 100px 200px;
  box-sizing:border-box;
  display: -webkit-flex;
  display: flex;
  overflow: hidden;
  background-color: #fff;
}

#intro.fixed {
  margin-top: 63px;
}

#intro::before {
  content:"";
  width:2px;
  height: 100%;
  background-color:#eb593d;
  position: absolute;
  margin-top:-100px;
  left: 100px;
  display:block;
  z-index:0;
}

.background_logo {
  background-image: url(../images/LogoLight.png);
  background-size: 100%;
  background-position:center center;
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
}

#intro p {
  color:#fff;
}

.content.left {
    text-align:left;
    width:70%;
    max-width:600px;
    -webkit-align-self: flex-start;
   align-self: flex-start;
   z-index:1;
}

p.xbig {
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 10px;
  line-height:54px;
  margin: 0 0 25px;
}

p.hero {
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 3px;
  line-height:36px;
  margin: 24px 0 24px 0;
}

p.hero--yellow {
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 3px;
  line-height:36px;
  margin: 24px 0 24px 0;
  padding:8px 0;
  color: #00649C;
  background-color: #eb593d;
}

p.hero--smaller {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 2px;
  line-height:28px;
  margin: 24px 0 24px 0;
}

p.hero--details {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height:28px;
  margin: 24px 0 24px 0;

}

.counter {
  color: #f91b78;
  font-size: 12px;
  letter-spacing:2px;
  margin-top: 40px;
  display: inline-block
}

.verticaltype {
  color: #eb593d;
  font-size: 64px;
  line-height: 72px;
  letter-spacing: 30px;
  font-weight: 600;
  position: relative;
  height:100px;
  width:100px;
  z-index:-1;
  /* Safari */
  -webkit-transform: rotate(90deg);
  /* Firefox */
  -moz-transform: rotate(90deg);
  /* IE */
  -ms-transform: rotate(90deg);
  /* Opera */
  -o-transform: rotate(90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.verticaltype.right {
   margin-left: auto;
   margin-right:-100px;
}



/* LINEUP */  

#lineup {
  padding:100px 0;
}

.lineup--section {
  width: 1400px;
  max-width: 95%;
  margin: auto;
  margin-bottom: 40px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.lineup--row {
  margin: auto;
  margin-bottom: 12px;
  max-width: 960px;
}

.lineup--row.small {
  margin-bottom: 8px;
}

.lineup--title {
  color: #eb593d;
  margin-bottom: 12px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.lineup--row .divider:after {
  content: "¦";
  color: #eb593d;
  padding-left: 16px;
  padding-right: 12px;
}

.lineup--row.small .divider:after {
  padding-left: 12px;
  padding-right: 8px;
}

.lineup--big, .lineup--med, .lineup--small {
  display: inline;
}

.lineup--info {
  font-weight: 200;
}

.lineup--big {
  font-size: 20px;
}

.lineup--med {
  font-size: 18px;
}

.lineup--small {
  font-size: 16px;
}

/* TICKETS */

.ticketsrow {
    padding: 80px 40px;
    text-align: center;
    background-color: #00ffff;
    background-position:center center;
  background-size: cover;
  background-repeat:no-repeat;
  overflow: hidden;
  background-image: url(../images/hero--bg.jpg);
}
}

.ticketsrow .button {
  margin-top:0px;
}

.ticketsrow .button a {
  background-color:#0f0725;
  color: #00ffff;
  cursor: pointer;
}

.ticketsrow .button a:hover,  #video .button a:hover {
  background-color:#0f0725;
  color:#fff;
}

#video .button a {
  color: #0f0725;
  background-color: #00ffff;
}

#video .button a:hover {
  color: #00ffff;
  background-color: #0f0725;
}

/* VIDEO */

#video {
  padding:100px;
  background-color:#fff;
  box-sizing:border-box;
}

#video::before {
  content:"";
  width:2px;
  height: calc(100% + 217px);
  background-color:#00ffff;
  position: absolute;
  margin-top:-100px;
  left: 100px;
  display:block;
  z-index:0;
}

#videocontainer {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.videoiframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* LOCATION */

#location {
  width:100vw;
  text-align:left;
  height:auto;
  position:relative;
  text-align:center;
  padding: 100px 100px 60px 200px;
  box-sizing:border-box;
  background-color: #fff;
}

#location::before {
  content:"";
  width:2px;
  height: 100%;
  background-color:#eb593d;
  position: absolute;
  margin-top:-100px;
  right: 100px;
  display:block;
  z-index:0;
}

.locationleft {
  width:49%;
  text-align:left;
  box-sizing: border-box;
  padding-right: 25px;
  display:inline-block;
}


#location p.xbig {
  color:#ffc60b;
}


.rightmap {
  position: relative;
    width: 49%;
    height: 400px !important;
    box-sizing: border-box;
    padding-left: 25px;
    display:inline-block;
}

#map {
  height:100% !important;
  pointer-events: none;
  width:150%;
  height:auto;
}

.map {
  min-height:480px;
  margin-top:40px;
}

/* TRAVEL */

#travel, #accommodation, #video {
  display:block;
}

.travelicon {
    width: 50%;
    padding:0px 20px;
    box-sizing: border-box;
}
#travel .centercontent, #accommodation .centercontent, #video .centercontent {
    display: flex;
    flex-wrap: wrap;
}
#video .centercontent {
justify-content: space-evenly;
}

/* TICKETS */


#tickets {
  width:100vw;
  text-align:left;
  position:relative;
  height:auto;
  text-align:center;
  padding: 100px 200px;
  box-sizing:border-box;
  min-height:100vh;
  box-sizing:border-box;
}

.termslink {
  background-color:#fff;
  color:#000;
  text-align:right;
  padding:10px 20px;
  font-size:12px;
  cursor: pointer;
}

.termslink a {
  color:#000;
}

.tickets_row1 {
    display: -webkit-flex;
  display: flex;
}

 .tickets_row2 {
  margin-top: 40px;
  width:90%;
 }

 .tickets_row3 {
      display: -webkit-flex;
  display: flex;
  width:90%;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
 }

 .ticket_outlets {
  width:25%;
  padding:0 40px;
  box-sizing: border-box;
  margin: 0 auto;
 }

 img.outlet {
  width:100%;
 }

.ticket_iframe {
  width:90%;
  height:auto;
  z-index: 1;
}

/* FAQS */


#faqs::before {
  content:"";
  width:2px;
  height: calc(100% + 200px);
  background-color:#eb593d;
  position: absolute;
  margin-top:-100px;
  left: 100px;
  display:block;
  z-index:0;
}

#accordion {
  z-index:1;
}

/* Style the buttons that are used to open and close the accordion panel */
button.accordion_button {
    background: #0f0725;
    color: #00ffff;
    cursor: pointer;
    padding: 20px 20px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    text-align:center;
    font-size:14px;
    letter-spacing:1px;
    transition-duration:1s;
    -webkit-transition-duration: 1s;
}

button.accordion_button:hover {
    background-color: #00ffff;
    color: #0f0725;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion_button.active {
    background-color: #00ffff;
    color: #0f0725;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    margin-bottom:1px;
}

/* The "show" class is added to the accordion panel when the user clicks on one of the buttons. This will show the panel content */
div.panel.show {
    max-height: 3000px;
    padding: 20px 18px;
}

.panel p {
    max-width: 80% !important;
    margin: 20px auto;
    color: #000;
}

/* FOOTER */

#footer {
  width:100vw;
  text-align:left;
  height:auto;
  position:relative;
  text-align:left;
  padding: 100px 20px;
  box-sizing:border-box;
  display: flex;
  align-items: top;
  justify-content: center;
  overflow: hidden;
}


p.footertitle {
  font-size:24px;
  font-weight:600;
  letter-spacing:5px;
  line-height:1.4em
  margin: 0 0 50px;
  color:#eb593d;
}

#footer p {
  font-size: 14px;
}

.logo_footer {
  margin-top:20px;
  margin-right:90px;
}

.content.footer {
  padding:0 80px 0 20px;
}



/* MEDIA QUERIES */

@media screen and (max-width: 1280px) {
.standard, #tickets, #location {
  padding: 100px 100px;
}
#video::before, #intro::before, #quotes::before, #vip::before, #lockers::before, #faqs::before {
left:50px;
}

#location::before, #tickets::before {
right:50px;
}
}

@media screen and (max-width: 1140px) {


p.xbig {
    font-size: 48px;
    font-weight: 600;
    letter-spacing: 10px;
    line-height: 1.4em;
    margin: 0 0 20px;
}

#intro .verticaltype {
  display:none;
}

p.quote_text {
    font-size: 24px;
}

.quote_block {
  padding:0px 25px 25px;
  margin: 0 15px;
}

.tile_name {
  font-size: 26px;
}

}

@media screen and (max-width: 1040px) {
img#logo {
  width:400px;
  margin:15px 0 5px;
  max-width:80%;
}
.menu_item a {
  font-size:9px;
  letter-spacing:1px;
  padding: 0 5px;
  color:#fff;
  transition-duration:0.5s;
  -webkit-transition-duration: 0.5s;
}
img.affiliatelogo {
  margin-bottom:15px;
}

p.small {
  margin:5px auto;
}

.scrollbutton {
    bottom:25px;
}

.background_logo {
  display:none;
}

.verticaltype.right {
    margin-left: auto;
    margin-right: -65px;
}

#video::before, #intro::before, #quotes::before, #vip::before, #faqs::before, #lockers::before {
left:50px;
}

#location::before, #tickets::before {
right:50px;
}
#video::before {
margin-top:-50px;
}
#video {
  padding:50px;
}

.tile_name {
  font-size: 23px;
}

.nav-links {
  padding:20px 25px;
}
.nav-details {
  padding: 5px 20px;
}
 #inplayer-2575177, #inplayer-2583014, #inplayer-2584645 {
  width:100%;
  margin-bottom:40px;
}
}

@media screen and (max-width: 960px) {

.quote_block {
  padding:25px 25px 25px;
  margin: 0 10px;
  width:50%;
}

#quotes {
  padding: 100px 40px;
}

.eksman {
  display:none;
}
.tile_name {
  font-size: 18px;
}

.menu_button a {
  margin-left: 10px;
}
 .tickets_row2 {
  margin-top: 30px;
  width:90%;
 }

 .tickets_row3 {
  margin-top: 20px;
 }

 .ticket_outlets {
  padding:0 20px;
 }
}

@media screen and (max-width: 840px) {
.menu_button a {
  padding:10px 15px;
}
.image.right {
  display:none;
}
.travelicon {
    width: 100%;
}
}

@media screen and (max-width: 780px) {
.content.left, .locationleft {
  width:100%;
}
.verticaltype.right {
  display:none;
}
#quotes {
  padding: 50px 40px;
}
#quotes::before {
margin-top:-50px;
}
.tile {
  width: 49.7%;
}
.ticket_iframe {
  width:100%;
}
.tickets_row2 {
  width: 100%;
}
.tickets_row3 {
  width: 100%;
}
#location.standard {
  display:block;
}
.rightmap {
  width:100%;
  margin-left: 0;
  margin-top:50px;
  height:400px;
  padding-left:0px;
}
#map {
  width:100%;
}
.menu_item a {
   display:none;
}
.menu_item.social a {
   display:block;
}
.tickets_row2 {
  display:block;
}
.ticket_outlets {
  width: 49%;
  display: inline-block;
  margin-bottom:20px;
}
.ticketsellers {
  margin-top:-5px;
}

img.star_big {
  width:180px;
}


img.star_big.topleft {
  margin-left: -90px;
}

img.star_big.bottomright {
  margin-right: -90px;
}

img.star_small {
  width:120px;
}

img.star_small.midleft {
  margin-left: -60px;
}

img.star_small.midright {
  margin-right: -60px;
}

img.star_big_tickets {
  width:180px;
}

img.star_big_tickets.topleft {
  margin-left: -90px;
}

img.star_big_tickets.bottomright {
  margin-right: -90px;
}

img.star_small_tickets {
  width:120px;
}

img.star_small_tickets.midleft {
  margin-left: -60px;
}

img.star_small_tickets.midright {
  margin-right: -60px;
}

}

@media screen and (max-height: 760px) {
  .scrollbutton {
  display:none;
}
.scrollbutton--mobile {
  display:block;
}
#top {
  height: auto;
  min-height:100vh;
  padding: 80px 40px;
  display: flex;
  box-sizing: border-box;
}
}

@media screen and (max-width: 640px) {
.slipmatt {
  display:none;
}
.quote_block {
  width:100%;
  margin: 0 auto;
}
#video::before {
margin-top:-25px;
}
#video {
  padding:25px;
}
p.xbig {
  font-size:24px;
  letter-spacing: 2px;
  margin:0 0 40px;
}
p.big.tagline {
  font-size:24px!important;
  margin-bottom:16px;
}
p.big.date, p.big.location {
    font-size:16px !important;
    letter-spacing:5px;
}
.tile {
  width: 49.5%;
}
.content.left.footer {
    text-align: left !important;
}
.logo_footer {
    margin-right: 0px;
}
#footer {
  display:block;
}
p.footertitle {
    margin-top: 40px;
    }
 .tickets_row2 {
  margin-top: 20px;
 }

 .tickets_row3 {
  margin-top: 20px;
  padding: 0 15px;
  box-sizing: border-box;
 }

 .ticket_outlets {
  padding:0 10px;
 }
 .videobg {
  display:none;
}
 .videobgmobile {
  display:block;
}

img.star_big {
  display:none;
}


img.star_small {
  display:none;
}


img.star_big_tickets {
  display:none;
}

img.star_small_tickets {
  display:none;
}
.scrollbutton {
  display:none;
}
.scrollbutton--mobile {
  display:block;
}
#top {
  height: auto;
  min-height:100vh;
  padding: 80px 40px;
  display: flex;
  box-sizing: border-box;
}

}

@media screen and (max-width: 540px) {
.standard {
    padding: 50px 50px;
}

#location {
    padding: 50px 50px;
}

#tickets {
    padding: 50px 15px;
}
#video::before, #intro::before, #quotes::before, #vip::before, #lockers::before, #faqs::before {
left:25px;
margin-top:-50px;
}

#location::before, #tickets::before {
right:25px;
}
#tickets::before, #location::before {
  margin-top: -50px;
}
.tile {
  width: 100%;
}
.rightmap {
height:300px !important; 
}

.vipcol {
  text-align: left;
  width:100%;
  margin-bottom:20px;
}
}


@media screen and (max-height: 400px) {
  .content.top {
  margin-top:0px;
}
.scrollbutton {
    display:none;
}
}
