@charset "UTF-8";
/* CSS Document */

@font-face{
  font-family:Avant Garde;
  src:url(//cdn.shopify.com/s/files/1/1373/5663/t/34/assets/avant-garde.woff?v=8729094422702085058) format("woff");
  src:url(//cdn.shopify.com/s/files/1/1373/5663/t/34/assets/avant-garde.woff2?v=8287157094347166844) format("woff2");
  font-style:normal;
  font-weight:400;
  font-display:swap
  }
@font-face{
    font-family:Avant Garde;
    src:url(//cdn.shopify.com/s/files/1/1373/5663/t/34/assets/avant-garde-italic.woff?v=14616602045117499644) format("woff");
    src:url(//cdn.shopify.com/s/files/1/1373/5663/t/34/assets/avant-garde-italic.woff2?v=13825409763039921808) format("woff2");
    font-style:italic;
    font-weight:400;
    font-display:swap
    }
@font-face{font-family:Avant Garde;
  src:url(//cdn.shopify.com/s/files/1/1373/5663/t/34/assets/avant-garde-medium.woff?v=722315586066209943) format("woff");
  src:url(//cdn.shopify.com/s/files/1/1373/5663/t/34/assets/avant-garde-medium.woff2?v=7927687203199638246) format("woff2");
  font-style:normal;
  font-weight:500;
  font-display:swap
  }
@font-face{
    font-family:Avant Garde;
    src:url(//cdn.shopify.com/s/files/1/1373/5663/t/34/assets/avant-garde-medium-italic.woff?v=4158315407312217191) format("woff");
    src:url(//cdn.shopify.com/s/files/1/1373/5663/t/34/assets/avant-garde-medium-italic.woff2?v=14533305689772389920) format("woff2");
    font-style:italic;
    font-weight:500;
    font-display:swap
    }
@font-face{
  font-family:Avant Garde;
  src:url(//cdn.shopify.com/s/files/1/1373/5663/t/34/assets/AvantGardeLT-Bold.woff2?v=10093095614432786327) format("woff2"),url(//cdn.shopify.com/s/files/1/1373/5663/t/34/assets/AvantGardeLT-Bold.woff?v=2501186310367861188) format("woff");
  font-weight:700;
  font-display:swap;
  font-style:normal
  }
@font-face{
  font-family:Avant Garde LT;
  src:url(//cdn.shopify.com/s/files/1/1373/5663/t/34/assets/AvantGardeLT-Bold.woff2?v=10093095614432786327) format("woff2"),url(//cdn.shopify.com/s/files/1/1373/5663/t/34/assets/AvantGardeLT-Bold.woff?v=2501186310367861188) format("woff");
  font-weight:700;
  font-display:swap;
  font-style:normal
}

body,
html {
margin:0;
padding:0;
overflow-x:hidden;
overflow-y:scroll !important;
font-family:'Avant Garde', sans-serif;
color: #fff;
letter-spacing: 0px;
width:100vw;
line-height:140%;
background-color:#101314;
top:0;
left:0;
}

* {
  box-sizing:border-box;
  z-index:1;
}

a {
  text-decoration:none;
}

.title {
  font-weight:400;
  line-height:normal;
  display:block;
}
.title.xbig {
  font-size:80px;
}
.title.big {
  font-size:64px;
}
.title.small {
  font-size:48px;
}
.title.xsmall {
  font-size:40px;
}
.title.tiny {
  font-size:24px;
}

.text {
  font-weight: 400;
}
.text.xbig {
  font-size: 32px;
  line-height: 1.4;
}
.text.big {
  font-size:24px;
  line-height: 1.4;
}
.text.small {
  font-size:18px;
  line-height: 1.4;
}

.center {
  text-align:center;
}

.white {
  color: #fff;
}
.grey {
  color: #fff;
  opacity:60%;
}
.yellow {
  color: #FDD32F;
}
.black {
  color:#000000;
}


/* NAV */

#nav {
  width:100vw;
  position:absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:32px 80px;
  z-index:16;
}

img.socialicon {
  width:24px;
  margin-left:8px;
  opacity:0.4;
  transition-duration:0.5s;
}
img.socialicon:hover {
  opacity:1;
}

.socialbuttons {
    margin-top: 40px;
}

a.button.outline {
    color: #FDD32F;
    font-size: 18px;
    border: 1px solid #FDD32F;
    border-radius: 40px;
    padding: 12px 16px 16px 12px;
    display: inline-block;
    transition-duration:0.2s;
}
a.button.outline:hover {
    opacity:0.8;
}

.button--instagram::before {
  content: "";
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url(../images/icon--instagram--yellow.svg);
  background-size: cover;
  margin-right: 12px;
  margin-bottom: -9px;
}
.button--facebook::before {
  content: "";
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url(../images/icon--facebook--yellow.svg);
  background-size: cover;
  margin-right: 12px;
  margin-bottom: -9px;
}
.button--twitter::before {
  content: "";
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url(../images/icon--twitter--yellow.svg);
  background-size: cover;
  margin-right: 12px;
  margin-bottom: -9px;
}


/* HERO */

#hero {
  width:100vw;
  height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height:420px;
  overflow-y: hidden;
  overflow-x:hidden;
  background-position:center bottom;
  background-size: cover;
  background-repeat:no-repeat;
  overflow: hidden;
}

.plus {
  width:20px;
  position:absolute;
}
.plus img {
  width:100%;
}
.plus-1 {
  left:5%;
  top:25%;
}
.plus-2 {
  left:45%;
  top:7%;
}
.plus-3 {
  right:5%;
  top:30%;
}
.plus-4 {
  left:60%;
  top:80%;
}

/* COMMENT OUT
.plus-1 {
  width:40px;
  left:3%;
  top:25%;
  filter: blur(1px);
}
.plus-2 {
  width:16px;
  left:45%;
  top:7%;
  filter: blur(1px);
}
.plus-3 {
  right:5%;
  top:30%;
  filter: blur(1px);
}
.plus-4 {
  width:60px;
  left:60%;
  top:70%;
  filter: blur(6px);
}

 */

.hero--content {
  width:100%;
  max-width: 640px;
  padding:0 20px;
  margin-top:-40px;
}

.hero--content.bottomleft {
  width:calc(100% - 80px);
  max-width: 760px;
  padding:0 20px;
  position:absolute;
  left:40px;
  bottom:80px;
  padding:0 40px;
}

img.scrollarrow {
  width:24px;
  position:absolute;
  bottom:80px;
  right:80px;
}

.circletext-revolution {
    width: 420px;
    position: absolute;
    right: -118px;
    bottom: -118px;
    z-index:10;
}

.videobg, .videobgmobile {
  height: 100vh;
  width: 100vw;
  position:absolute;
  z-index:0;
  overflow:hidden;
}

.videobg video, .videobgmobile video {
  position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.videobgmobile {
  display:none;
}

/* HERO ANIMATION */

.animate1, .animate11, .animate2, .animate3, .animate4, .animate41, .animate5, .animate6 {
  opacity:0;
  transition-duration:1s;
  filter: blur(20px);
}

.animateplus {
  opacity:0;
  transition-duration:1s;
  transition-delay:3s;
}

.animate2, .animate3, .animate4, .animate41 {
  transform: translateY(20px);
}

.animate1 {
  transition-delay:2s;
}
.animate11 {
  transition-delay:2.3s;
}
.animate2 {
  transition-delay:2.5s;
}
.animate3 {
  transition-delay:3s;
}
.animate4 {
  transition-delay:3.25s;
}
.animate41 {
  transition-delay:3.75s;
}
.animate5 {
  transition-delay:4s;
}
.animate6 {
  transition-delay:4s;
}


.animate1.animate, .animate11.animate, .animate2.animate, .animate3.animate, .animate4.animate, .animate41.animate, .animate5.animate, .animate6.animate {
  opacity:1;
  transform: translateY(0px);
  filter: blur(0px);
}

.animateplus.animate {
  opacity:1;
}

.bounce {
  animation: bounce 2s infinite;
}

#content {
  opacity:0;
  transition-duration: 1s;
}
#content.animate {
  opacity:1;
}



@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.spin img{
  -webkit-animation:spin 12s linear infinite;
    -moz-animation:spin 12s linear infinite;
    animation:spin 12s linear infinite;
    width:100%;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

/* CONTENT */

.info-header {
  padding: 240px 80px 120px;
}

.info-body {
  padding: 200px 80px;
}

.info-body p {
  max-width:780px;
}

.info-reprise {
    padding: 200px 80px;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#content {
  z-index:2;
  background-color:#101314;
  width:100vw;
  padding: 120px 80px;
  position:relative;
}

.title--pluses {
  position: relative;
  margin:80px 0 40px;
}
.title--pluses:before {
    content: "";
    background-image: url(../images/icon--plusyellow.svg);
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    right: 0px;
    top: 32px;
}
.title--pluses:after {
    content: "";
    background-image: url(../images/icon--plusyellow.svg);
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    right: 0px;
    bottom: 32px;
}

.contentwidth {
  width: 100%;
  max-width: 1040px;
  margin:auto;
}

.width {
  width: calc(100% - 160px);
  margin:auto;
}

ul {
  list-style:none;
  margin-left: 32px;
  padding-left: 0px;
  max-width:760px;
}
li {
  padding: 12px 8px;
  list-style-image: url(../images/icon--arrow--yellow.svg);
}

/* MAKERS */

.row.maker {
  padding: 0px 80px;
  align-items: stretch;
  margin-top:80px;
}

.col.half.makerphoto {
    width: 50%;
    display: block;
    background-size: cover;
    background-position: center;
}

.maker.leftimage .col.half.makerinfo {
  padding:120px 0px 120px 80px;
}
.maker.rightimage .col.half.makerinfo {
  padding:120px 80px 120px 0px;
}

.row.maker.rightimage {
  flex-direction: row-reverse;
}

.instagram::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(../images/icon--instagram.svg);
  background-size: cover;
  margin-right: 8px;
  margin-bottom: -6px;
}

.quote::before {
  content: "";
  display: block;
  width: 25px;
  height: 24px;
  background-image: url(../images/icon--quote.svg);
  background-size: cover;
  margin-bottom: 16px;
}

.quote {
  max-width:480px;
  margin-bottom: 20px;
}

.attribution {
  display: flex;
}

.attribution img {
  width:80px;
  margin-right:24px;
}

/* CTA */

.cta {
    position: relative;
    padding: 60px 40px 80px;
    text-align: center;
    margin-top: 80px;
    background-color: #FDD32F;
    border-radius: 0px 0px 0px 20px;
    /* overflow: hidden; */
    /* clip-path: polygon(91.65% 0%, 0% 0%, 0% 100%, 100% 100%, 100% 18.6%); */
    box-sizing: border-box;

}

.cta:after {
  content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    margin: -61px;
    width: 120px;
    height: 120px;
    transform: rotate(45deg);
    border-bottom: 1px solid #FDD32F;
    border-radius: 0px;
    background-color: #101314;
}

.circletext-revolution-bottom {
    width: 420px;
    position: absolute;
    right: -118px;
    bottom: 700px;
}

/* FORMS */

.hero--content .form--email {
  max-width:100%;
}

.form--email {
    max-width: 640px;
    position: relative;
}

.cta .form--email {
    margin: auto;
}

.hero--content form {
  max-width:100%;
}

form {
  display:flex;
  max-width: 640px;
  position:relative;
}

.bigform form {
  display:block;
  max-width: 100%;
  margin: auto;
}

.col.half.bigform {
  border: 1px solid #FDD32F;
  padding: 40px;
}

.field {
  width: 100%;
}


.hbspt-form label {
    display: none;
}

.bigform .hbspt-form label {
    display: block;
}

input[type=email] {
    border: 1px solid #daddde;
    color: #000;
    width: 100%;
    height: auto;
    padding: 18px 20px;
    border-radius: 100px;
    background-color: #fff;
    font-size: 18px;
    line-height: 1;
    -webkit-transition: border-color .2s ease;
    -o-transition: border-color .2s ease;
    transition: border-color .2s ease;
}

input[type=email]:active, input[type=email]:focus, input[type=email]:hover {
    border:1px solid #fdd32f;
}

.bigform input[type=email], .bigform input[type=text], .bigform input[type=tel], .bigform input[type=number], .bigform select {
    border: 1px solid #daddde;
    color: #000;
    width: 100%;
    height: auto;
    padding: 12px 20px;
    border-radius: 100px;
    background-color: #fff;
    font-size: 18px;
    line-height: 1;
    -webkit-transition: border-color .2s ease;
    -o-transition: border-color .2s ease;
    transition: border-color .2s ease;
    margin-top:12px;
    margin-bottom:20px;
}

.bigform input[type=email]:active, .bigform input[type=text]:active, .bigform input[type=tel]:active, .bigform input[type=number]:active, .bigform select:active {
    border:1px solid #fdd32f;
}

fieldset.form-columns-1, fieldset.form-columns-2 {
    max-width: 100% !important;
}

input#invited_user_1-eeee45f3-d186-44e3-960e-b2cdcf19a778, input#invited_user_2-eeee45f3-d186-44e3-960e-b2cdcf19a778, input#invited_user_3-eeee45f3-d186-44e3-960e-b2cdcf19a778 {
    margin-bottom: 4px;
    width: 100% !important;
    background-color: transparent;
}

fieldset.form-columns-2 .field:first-of-type {
    padding-right: 10px;
}
fieldset.form-columns-2 .field:last-of-type {
    padding-left: 10px;
}

ul.no-list.hs-error-msgs.inputs-list {
    display: none !important;
}

.bigform ul.no-list.hs-error-msgs.inputs-list {
    display: block !important;
}

.bigform .hs_error_rollup {
    display: none;
}

ul.no-list.hs-error-msgs.inputs-list {
    margin-top: -8px;
}
ul.no-list.hs-error-msgs.inputs-list li {
    padding: 0px;
}
ul.no-list.hs-error-msgs.inputs-list li label.hs-error-msg {
    opacity: 0.6;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

:focus-visible {
    outline: none;
}

input[type=submit] {
    display: inline-block;
    position: absolute;
    right: 0px;
    min-width: 180px;
    vertical-align: middle;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #FDD32F;
    padding: 16px 32px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    line-height: 1.5;
    text-align: center;
    color: #000;
    text-decoration: none;
    border-radius: 100px;
    border: none;
    font-family: 'Avant Garde', sans-serif;
    transition-duration:.2s;
    height:60px;
}

.bigform input[type=submit] {
    display: inline-block;
    position: inherit;
    margin-top: 20px;
}

.cta input[type=submit] {
  color: #FDD32F;
  background: #000;
}

.cta input[type=submit]:hover {
  background: #2F2F2F;
}

input[type=submit]:hover {
  background: #E5BA1C;
}


/* BANNER */

.banner {
    border-top: 1px solid #FDD32F;
    border-bottom: 1px solid #FDD32F;
}

.marquee {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  width:100%;
}

.marquee p {
  width: fit-content;
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-50%, 0);
  }
}

#fixedcta {
  z-index:20;
  position:fixed;
  padding:0px 20px;
  width:100vw;
  background-color:#fff;
  transition-duration:1s;
  bottom:0;
  transform:translateY(80px);
}
#fixedcta.visible {
  transform:none;
}

/* FOOTER */

#footer {
  width: 100%;
  margin:auto;
  padding:80px 80px 120px;
  border-top: 1px solid #898989;
}

.row {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: space-between;
}

.col.half {
    width: 50%;
}

.col--rightpadding {
   padding-right:80px;
}

.col.third {
    width: 33%;
    padding: 20px;
}

.divider {
  width:100%;
  height: 1px;
  background-color:#898989;
}

#footer p.white {
  color:#E7E7E7;
}

a.footer--link {
    display: block;
    font-size: 18px;
    margin-bottom: 12px;
}

#footer a {
  color: #fff;
  transition-duration: 0.5s
}

#footer a:hover {
  color: #FDD32F;
}


/*! locomotive-scroll v4.1.1 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
  overflow: hidden; }

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.has-scroll-smooth body {
  overflow: hidden; }

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh; }

[data-scroll-direction="horizontal"] [data-scroll-container] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap; }

[data-scroll-direction="horizontal"] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%; }

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0; }
  .c-scrollbar:hover {
    transform: scaleX(1.45); }
  .c-scrollbar:hover, .has-scroll-scrolling .c-scrollbar, .has-scroll-dragging .c-scrollbar {
    opacity: 1; }
  [data-scroll-direction="horizontal"] .c-scrollbar {
    width: 100%;
    height: 10px;
    top: auto;
    bottom: 0;
    transform: scaleY(1); }
    [data-scroll-direction="horizontal"] .c-scrollbar:hover {
      transform: scaleY(1.3); }

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab; }
  .has-scroll-dragging .c-scrollbar_thumb {
    cursor: -webkit-grabbing;
    cursor: grabbing; }
  [data-scroll-direction="horizontal"] .c-scrollbar_thumb {
    right: auto;
    bottom: 0; }


/* MEDIA QUERIES */

@media only screen and (max-width: 1600px) {

#footer input[type=submit] {
    display: block;
    position: inherit;
    width: 100%;
    margin-top:8px;
}

#footer form {
    display: block;
}

#footer {
    padding: 80px 40px 120px;
}

}

@media only screen and (max-width: 1140px) {

.circletext-revolution {
  display:none;
}

}

@media only screen and (max-width: 960px) {

.scrollarrow {
  display:none;
}

#nav {
  padding: 32px 40px;
}

.hero--content.bottomleft {
  left: 0px;
}

.info-header {
  padding: 240px ​40px 120p;
}

.info-body {
    padding: 200px 40px;
}

.info-reprise {
    padding: 200px 40px;
}

.width {
    width: calc(100% - 80px);
}

.row.maker {
    padding: 0px 40px;
}

.maker.leftimage .col.half.makerinfo {
    padding: 80px 0px 80px 40px;
}

.maker.rightimage .col.half.makerinfo {
    padding: 80px 40px 80px 0px;
}

#footer .col.third {
    width: 100%;
    padding: 0px;
    margin-top:40px;
}

#footer .row {
  display:block;
}

#footer input[type=submit] {
    display: inline-block;
    position: absolute;
    width: auto;
    margin-top: 0px;
}

 input[type=submit] {
    display: block;
    position: inherit;
    width: 100%;
    margin-top:8px;
}

#footer form {
    display: flex;
}

}
